/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Grandstander:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');

:root{
    --background-color: #F7FEFF;
    --primary-color: #21B7E2;
    --secondary-color: #D0F6FF;
    --secondary-color-2: #489FB5;
    --text-color :#263238;
    --text-color-2 :#A9A9AA;
    --font-Grandstander: "Grandstander", cursive;
    --font-inter: "Inter", sans-serif;
    --font-outfit: "Outfit", sans-serif;
    --font-rasa: "Rasa", serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: var(--font-Grandstander);
    font-optical-sizing: auto;
    font-style: normal;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.logo-img{
    margin-left: -15px;
    width: 74.32px;
    height: 68.35px;
}

.logo-text{
    font-size: 30px;
    color: var(--primary-color);
}

.nav-container{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav-container  span a{
    padding-right: 10px;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-outfit);
    font-weight: 400;
    transition: font-weight 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-container  span a:hover{
    font-weight: 700;
    transform: scale(1.1);
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.desc-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desc-left {
    margin-top: 110px;
    margin-left: 50px;
    padding: 5px;
    width: 570px;
    height: 520px;
    display: flex;
    flex-direction: column;
}

.desc-discount{
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-inter);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--secondary-color);
}

.desc-title{
    margin-top: 20px;
    font-size: 65px;
    color: var(--text-color);
}

.desc-text{
    margin-top: 20px;
    color: var(--text-color);
    font-family: var(--font-inter);
}

.desc-action{
    width: 398px;
    height: 60px;
    margin-top: 25px;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font-family: var(--font-outfit);
    font-size: 22px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.desc-detail{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.desc-detail-con{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desc-detail-text-h{
    font-family: var(--font-rasa);
    font-size: 50px;
}
.desc-detail-text-p{
    display: flex;
    flex-direction: column;
    color: var(--secondary-color-2);
    font-family: var(--font-inter);
    font-size: 14px;
}

.desc-right {
    display: flex;
    flex-direction: column;   
}

.bubble-1{
    width: 150px;
    height: 120px;
    margin-bottom: -100px;
}

.hero{
    position: static;
}

.bubble-2{
    width: 150px;
    height: 120px;
    margin-top: -100px;
    margin-right: -100px;
}

/* How it works */
.steps-section{
    width: 100%;
    padding: 50px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.steps-title{
    font-family: var(--font-Grandstander);
    font-weight: 400;
    font-size: xx-large;
    margin-top: 20px;
    color: var(--primary-color);
}

.steps-subtitle{
    font-family: var(--font-outfit);
    font-weight: 500;
    font-size: 60px;
    margin-top: 20px;
    color: var(--text-color);
}

.steps-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.steps-card{
    width: 220px;
    height: 320.93px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.steps-card:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.steps-card-title{
    font-family: var(--font-Grandstander);
    font-weight: 400;
    font-size: 22px;
    color: var(--primary-color);
}

.steps-card-subtitle{
    font-family: var(--font-outfit);
    font-weight: 500;
    font-size: 30px;
    color: var(--text-color);
}

.steps-card-img{
    width: 200px;
    height: 213px;
    object-fit: cover;
}


/* Section */
.services-section{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-title{
    font-family: var(--font-Grandstander);
    font-weight: 400;
    font-size: xx-large;
    margin-top: 20px;
    color: var(--primary-color);
}

.services-subtitle{
    font-family: var(--font-outfit);
    font-weight: 500;
    font-size: 60px;
    margin-top: 20px;
    color: var(--text-color);
}

.services-container{
    margin-top: 90px;
    gap: 24px;
    display: flex;
    flex-direction: row;
}

.services-card{
    width: 400px;
    height: 572px;
    padding: 15px;
    padding-top: 25px;
    /* background-color: wheat; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services-card-top-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.services-card-head{
    display: flex;
    align-items: center;
}

.services-card-head-img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: contain;
}

.services-card-head-title{
    display: flex;
    flex-direction: column;
}

.services-card-head-title-1{
    font-size: 30px;
    color: var(--primary-color);
}

.services-card-head-title-2{
    font-size: 12px;
    font-family: var(--font-inter);
    color: var(--text-color);
}

.services-card-subhead{
    font-size: 22px;
    font-family: var(--font-inter);
    font-weight: lighter;
}

.services-card-item{
    display: flex;
    align-items: center;
    font-family: var(--font-inter);
    font-weight: 300;
    gap: 10px;
    margin-bottom: 10px;
}

.services-card-item-img{
    width: 20px;
    height: 20px;
}

.services-card-line{
    width: 100%;
    border: 0.5px dashed var(--text-color);
}

.services-card-bottom-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-card-price{
    font-family: var(--font-outfit);
    font-size: 32px;
    font-weight: bolder;
}

.services-card-duration{
    font-family: var(--font-outfit);
    font-size: 16px;
    font-weight: 300;
}

.services-card-btn{
    width: 100%;
    height: 64px;
    margin-top: 10px;
    border-radius: 40px;
    position: relative;
    text-align: center;
    border: none;
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    font-family: var(--font-outfit);
    font-size: 22px;
}

.services-card-btn:hover{
    background-color: var(--primary-color);
}

.services-card-middle{
    width: 374px;
    height: 572px;
    margin-top: -40px;
    padding: 20px;
    padding-top: 25px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.services-card-m-btn{
    width: 100%;
    height: 64px;
    margin-top: 10px;
    border-radius: 40px;
    position: relative;
    text-align: center;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    font-family: var(--font-outfit);
    font-size: 22px;
}

.services-card-m-btn:hover{
    background-color: var(--text-color);
    color: white;
}

/* Learn more Section */