/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Grandstander:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');

:root{
    --background-color: #F7FEFF;
    --primary-color: #21B7E2;
    --secondary-color: #D0F6FF;
    --secondary-color-2: #489FB5;
    --text-color :#263238;
    --font-Grandstander: "Grandstander", cursive;
    --font-inter: "Inter", sans-serif;
    --font-outfit: "Outfit", sans-serif;
    --font-rasa: "Rasa", serif;
}

body, html {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: var(--font-Grandstander);
    font-optical-sizing: auto;
    font-style: normal;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.logo-img{
    margin-left: -15px;
    width: 74.32px;
    height: 68.35px;
}

.logo-text{
    font-size: 30px;
    color: var(--primary-color);
}

.nav-container{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav-container  span a{
    padding-right: 10px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 300;
    transition: font-weight 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-container  span a:hover{
    font-weight: 700;
    transform: scale(1.1);
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.desc-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desc-left {
    margin-top: 110px;
    margin-left: 50px;
    padding: 5px;
    width: 570px;
    height: 520px;
    display: flex;
    flex-direction: column;
}

.desc-discount{
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-inter);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--secondary-color);
}

.desc-title{
    font-size: 65px;
    color: var(--text-color);
}

.desc-text{
    color: var(--text-color);
    font-family: var(--font-inter);
}

.desc-action{
    width: 398px;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font-family: var(--font-outfit);
    font-size: 22px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.desc-detail{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.desc-detail-con{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desc-detail-text-h{
    font-family: var(--font-rasa);
    font-size: 50px;
}
.desc-detail-text-p{
    display: flex;
    flex-direction: column;
    color: var(--secondary-color-2);
    font-family: var(--font-inter);
    font-size: 14px;
}

.desc-right {
    display: flex;
    flex-direction: column;   
}

.bubble-1{
    width: 150px;
    height: 120px;
    margin-bottom: -100px;
}

.hero{
    position: static;
}

.bubble-2{
    width: 150px;
    height: 120px;
    margin-top: -100px;
    margin-right: -100px;
}

